@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
*{boz-sizing:border-box}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:24.99%;}
.col-4{width:33.32%;}
.col-5{width:41.65%;}
.col-6{width:49.98%;}
.col-7{width:58.31%;}
.col-8{width:66.64%;}
.col-9{width:74.97%;}
.col-10{width:83.30%;}
.col-11{width:91.63%;}
.col-12{width: 100%;}

[class*="col-"]{
	float:left;
	padding:15px;
	border:none;
}
.row:after{
	content:"";
	clear:both;
	display: table;}

@media only screen and (max-width:600px){
	.col-m1{width:8.33;}
.col-m2{width:16.66%;}
.col-m3{width:24.99%;}
.col-m4{width:33.32%;}
.col-m5{width:41.65%;}
.col-m6{width:49.98%;}
.col-m7{width:58.31%;}
.col-m8{width:66.64%;}
.col-m9{width:74.97%;}
.col-m10{width:83.30%;}
.col-m11{width:91.63%;}
	.col-m12{width: 100%;}
}

@media only screen and (min-width:600px)
	
@media only screen and (min-width:768px)	
